.container {
  align-items: center;
}

#facultyLogin {
  visibility: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  width: 80%;
}

.card-header {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.card-content-wrapper {
  margin: 5px;
  padding: 5px;
}
