<app-header> </app-header>
<div class="container" fxLayout="column" fxLayoutGap="32px">
  <h2>Welcome, {{ facultyName }}</h2>
  <button mat-raised-button color="primary" (click)="onClick()">Refresh</button>
  <mat-card class="card"
    ><h1 class="card-header">Pending Requests</h1>
    <mat-card-content class="card-content-wrapper">
      <div
        *ngFor="let req of pendingRequests"
        class="reqests"
        fxLayout="column"
        fxLayoutGap="32px"
      >
        <app-certificate [req]="req"></app-certificate>
        <!-- <mat-card class="card">
          <p>{{ req.req_from }}</p>
          <mat-card-content class="card-content-wrapper">
            certificate Category :
            {{ req.Category }}
            <div *ngIf="req.Specification != 'N/A'">
              Specification :
              {{ req.Specification }}
            </div>
            <div *ngIf="req.Level != 'N/A'">
              Level :
              {{ req.Level }}
            </div>
            <div *ngIf="req.Prize != 'N/A'">
              Prize :
              {{ req.Prize }}
            </div>
            <div *ngIf="req.Role != 'N/A'">
              Role :
              {{ req.Role }}
            </div>
          </mat-card-content>
        </mat-card> -->
      </div>
    </mat-card-content></mat-card
  >
  <mat-card class="card"
    ><h1 class="card-header">Status of all Students</h1>
    <mat-card-content class="card-content-wrapper">
      <div *ngFor="let req of pendingRequests">
        <mat-card class="card">
          <p>{{ req.name }}</p>
          <mat-card-content class="card-content-wrapper">
            {{ req.id }}
            {{ req.category }}
            {{ req.certificate }}
            {{ req.currentpoints }}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content></mat-card
  >
</div>
